# ================================
# Local Development Environment
# ================================
# Copy this file as-is for local development
# For Docker, modify NEXT_PUBLIC_API_URL

NEXT_PUBLIC_API_URL=http://localhost:5000
NEXT_PUBLIC_COMMUNITY_URL=GObiBOjDxn5KTC2GVwCXXp
NEXT_PUBLIC_WHATSAPP_URL=https://chat.whatsapp.com/GObiBOjDxn5KTC2GVwCXXp
