# Dependencies
node_modules

# Build outputs
dist

# Development
.env
.env.*
*.log

# IDE & OS
.vscode
.idea
.DS_Store
*.swp

# Git
.git
.gitignore

# Docs
docs
*.md
!README.md

# Tests
test
coverage

# Data
data
